env
.env
prepare_data/*/raw
wandb/
unsloth_compiled_cache/
X-ray Lung Diseases Images (9 classes)/
outputs/
# Ignore all folders starting with "lora_model"
lora_model*/
unsloth_training_checkpoints/
lung8_image_text/
outputs_set*/
vl_eval_predictions_*.csv